input:not([type="radio"]):not([type="checkbox"]):not([type="button"]) {
  @apply appearance-none rounded-pill border-2 border-gray-20 py-2 px-4 w-full outline-none;
}

input:not([type="radio"]):not([type="checkbox"]):not([type="button"]):focus {
  @apply border-gray-60;
}

input:not([type="radio"]):not([type="checkbox"]):not([type="button"]).error {
  @apply border-red-100;
}

label {
  @apply px-4 mb-2 block font-bold;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}